@font-face {
  font-family: "Sansation";
  src: url("../fonts/Sansation/Sansation_Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Sansation";
  src: url("../fonts/Sansation/Sansation_Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Sansation";
  src: url("../fonts/Sansation/Sansation_Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Italic.ttf");
  font-style: italic;
}
body, html {
  margin: 0;
  padding: 0;
  font-family: "Sansation", sans-serif, verdana;
  font-size: 0.95em;
  color: #707070;
  background-color: #FAFAFA;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: inherit;
}

* {
  box-sizing: border-box;
}

.popup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  height: 100vh;
  position: fixed;
  z-index: 3;
  display: none;
  animation: popupAnimation 0.2s forwards;
}
.popup-container:before {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 1;
  content: "";
}
.popup-container > .popup {
  background-color: #FFF;
  padding: 2em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  position: relative;
  z-index: 4;
  width: 90%;
  overflow: hidden;
}
.popup-container > .popup > h1 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 0.5em 1em 0.5em;
  margin: -1em -1em 1em;
  text-align: center;
  font-weight: normal;
}
.popup-container > .popup > .popup-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}
.popup-container > .popup > .popup-footer > button {
  text-transform: uppercase;
  font-family: inherit;
  font-size: inherit;
  border-radius: 5px;
  text-align: center;
  padding: 0.75em 2em;
  transition: background-color 0.2s ease;
  border: none;
  outline: none;
  color: #000;
  cursor: pointer;
  background-color: #FFF;
  font-weight: bold;
}
.popup-container > .popup > .popup-footer > button:hover {
  background-color: #f2f2f2;
}
.popup-container > .popup > .popup-footer > button.cancel {
  background-color: #1478DB;
  color: #FFF;
}
.popup-container > .popup > .popup-footer > button.cancel:hover {
  background-color: #126bc4;
}

.container {
  width: 90%;
  margin: 0 auto 7em;
}
.container > .interface-ip {
  margin: 1em 0 4em 0;
  display: flex;
}
.container > .interface-ip > .ip {
  color: #000;
  margin-left: 1em;
}
.container > .interface-ip > .revoke {
  background-color: #1478DB;
  text-transform: uppercase;
  font-weight: bold;
  color: #FFF;
  border-radius: 5px;
  margin-left: auto;
  padding: 0.75em 2em;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.container > .interface-ip > .revoke:hover {
  background-color: #126bc4;
}
.container > .fountain-container {
  background-color: #FFF;
  padding: 1em 2em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  width: 100%;
  overflow: hidden;
}
.container > .fountain-container > .heading {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0;
}
.container > .fountain-container > .heading > h3 {
  margin: 0;
  font-weight: normal;
  color: #000;
  font-size: 1.4em;
}
.container > .fountain-container > .heading > .last-updated {
  margin-left: auto;
  font-size: 0.9em;
  line-height: 2.5;
}
.container > .fountain-container > .inner-container {
  border-radius: 15px;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.16);
  padding: 1.5em;
  margin: 1.5em -2em -1em -2em;
}
.container > .fountain-container > .inner-container > .notices {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 -1.5em;
  padding: 0 1.5em 1.5em;
}
.container > .fountain-container > .inner-container > .notices > h3 {
  margin: 0 0 0.5em 0;
  font-size: 1.3em;
  color: #000;
}
.container > .fountain-container > .inner-container > .notices > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.container > .fountain-container > .inner-container > .notices > ul > li {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.container > .fountain-container > .inner-container > .notices > ul > li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border: none;
}
.container > .fountain-container > .inner-container > .ct-chart {
  margin: 2em -1em;
}
.container > .fountain-container > .inner-container > .actuators {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: -1.5em;
  padding: 0 1.5em 3em;
}
.container > .fountain-container > .inner-container > .actuators:last-child {
  padding-bottom: 1.5em;
}
.container > .fountain-container > .inner-container > .actuators > h3 {
  color: #000;
}
.container > .fountain-container > .inner-container > .actuators > ul {
  padding: 1em;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.container > .fountain-container > .inner-container > .actuators > ul:last-child {
  border: none;
}
.container > .fountain-container > .inner-container > .actuators > ul > li:first-child {
  font-weight: bold;
}
.container > .fountain-container > .inner-container > .actuators > ul > li.on {
  color: #28A5F5;
}
.container > .fountain-container > .inner-container > .actuators > ul > li.off {
  color: red;
}

.bottom-nav {
  background-color: #FFF;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  font-family: "Roboto", "Sansation", sans-serif;
}
.bottom-nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.bottom-nav > ul > li {
  padding: 0.75em 0;
  text-align: center;
}
.bottom-nav > ul > li > a {
  display: block;
  transition: color 0.2s ease;
}
.bottom-nav > ul > li > a:hover {
  color: #000;
}
.bottom-nav > ul > li > a > .icon {
  display: block;
  width: 100%;
  margin-bottom: 0.25em;
}
.bottom-nav > ul > li > a > .icon > .fal, .bottom-nav > ul > li > a > .icon > .fa, .bottom-nav > ul > li > a > .icon > .far, .bottom-nav > ul > li > a > .icon > .fas {
  font-size: 1.4em;
}
.bottom-nav > ul > li.active > a {
  color: #000;
}

.ct-label.ct-horizontal.ct-end {
    transform: rotate(45deg);

    white-space: nowrap;
}
.ct-point {
    stroke-width: 4px !important;
}
.ct-line {
    stroke-width: 2px !important;
}

.ct-legend {
   position: relative;
   z-index: 10;
}
.ct-legend li {
   position: relative;
   padding-left: 23px;
   margin-right: 10px;
   margin-bottom: 3px;
   cursor: pointer;
   display: inline-block;
}
.ct-legend li:before {
   width: 12px;
   height: 12px;
   position: absolute;
   left: 0;
   content: '';
   border: 3px solid transparent;
   border-radius: 2px;
}
.ct-legend li.inactive:before {
   background: transparent;
}
.ct-legend.ct-legend-inside {
   position: absolute;
   top: 0;
   right: 0;
}
.ct-legend.ct-legend-inside li{
   display: block;
   margin: 0;
}
.ct-legend .ct-series-0:before {
   background-color: #d70206;
   border-color: #d70206;
}
.ct-legend .ct-series-1:before {
   background-color: #f05b4f;
   border-color: #f05b4f;
}
.ct-legend .ct-series-2:before {
   background-color: #f4c63d;
   border-color: #f4c63d;
}
.ct-legend .ct-series-3:before {
   background-color: #d17905;
   border-color: #d17905;
}
.ct-legend .ct-series-4:before {
   background-color: #453d3f;
   border-color: #453d3f;
}

.ct-perfect-fourth>svg {
    height: 230px !important;
}

@keyframes popupAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=fountain.css.map */
