@import "colors";
@import "fonts";

body, html {
    margin: 0;
    padding: 0;
    font-family: "Sansation", sans-serif, verdana;
    font-size: $font-size;
    color: $text-color;
    background-color: $bg-color;
    line-height: 1.5;
}

a {
    color: inherit;
    text-decoration: inherit;
}

* {
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 0 auto;

    > .interface-ip {
        margin: 1em 0 4em 0;
        display: flex;

        > .ip {
            color: #000;
            margin-left: 1em;
        }
    }

    > .settings-container {
        background-color: $foreground-color;
        padding: 1em;
        box-shadow: 0 3px 6px rgba(#000, 0.2);
        border-radius: 5px;
        width: 100%;
        overflow: hidden;

        > .text {
            padding: 1em 1em 0 1em;
        }

        > .heading {
            box-shadow: 0 3px 6px rgba(#000, 0.2);
            border-radius: 5px 5px 0 0;
            padding: 0.5em;
            text-align: center;
            margin: -1em -1em 1em;

            > h1 {
                margin: 0;
                font-weight: normal;
            }
        }

        > form {
            padding: 1em;

            > .input-group {
                position: relative;
                margin-bottom: 0.5em;

                &:first-child {
                    margin-bottom: 2em;
                }

                > input {
                    width: 100%;
                    font-family: inherit;
                    font-size: inherit;
                    border-radius: 3px;
                    border: 1px solid rgba(#000, 0.15);
                    padding: 0.5em;
                    transition: border-color 0.2s ease;
                    outline: none;

                    &:active, &:focus {
                        border-color: rgba(#000, 0.3);
                    }
                }
            }

            > button {
                background-color: #1478DB;
                font-weight: bold;
                color: #FFF;
                font-family: inherit;
                font-size: inherit;
                border-radius: 5px;
                margin-top: 1.5em;
                border: none;
                padding: 0.5em 0.75em 0.5em 2em;
                display: flex;
                justify-content: space-between;
                text-transform: uppercase;
                cursor: pointer;
                transition: background-color 0.2s ease;

                &:hover {
                    background-color: darken(#1478DB, 5%);
                }

                > .fa {
                    margin-left: 1em;
                    margin-top: 2px;
                }
            }
        }
    }
}

.bottom-nav {
    background-color: $foreground-color;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-shadow: 0 0 10px rgba(#000, 0.15);
    font-family: "Roboto", "Sansation", sans-serif;

    > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;

        > li {
            padding: 0.75em 0;
            text-align: center;

            > a {
                display: block;
                transition: color 0.2s ease;

                &:hover {
                    color: #000;
                }

                > .icon {
                    display: block;
                    width: 100%;
                    margin-bottom: 0.25em;

                    > .fal, > .fa, > .far, > .fas {
                        font-size: 1.4em;
                    }
                }
            }

            &.active {
                > a {
                    color: #000;
                }
            }
        }
    }
}